<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="content">

                        <div class="typo-line">
                            <p class="category">2015 – 2017</p>
                            <blockquote>
                                <p>Master's Degree in Design and Management of Technological Projects</p>
                                <small>
                                    Universidad Internacional de La Rioja - https://en.unir.net/
                                </small>
                            </blockquote>
                        </div>

                        <div class="typo-line">
                            <p class="category">2009 – 2012</p>
                            <blockquote>
                                <p>Master's Degree in Business Administration - MBA</p>
                                <small>
                                    Universidad de Viña del Mar - https://www.uvm.cl/
                                </small>
                            </blockquote>
                        </div>
                        <div class="typo-line">
                            <p class="category">2000 – 2006</p>
                            <blockquote>
                                <p>Degree in Computer Systems Engineering</p>
                                <small>
                                    Universidad Técnica del Norte - http://www.utn.edu.ec/
                                </small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
