
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/briefcase.png"/>
            </div>
            Portfolio
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <p>
    					Dropdown
    					<b class="caret"></b>
    				</p>

              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Xavier</a></li>
                <li><a href="#">Adrian</a></li>
                <li><a href="#">Valeria</a></li>
                <li><a href="#">Evelyn</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
        </li>
        <li *ngIf="isMobileMenu()">
            <a>
                <p>Log out</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
