<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/xmv2.png" alt="..."/>
                                <h4 class="title">Xavier Mino<br />
                                    <small>Full Stack Software Engineer (M. Sc.), Technical Project Manager (PMP)</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Do everything your mind knows with your heart <br>
                            and from your heart learn what your mind ignores" <br>
                            You are what you choose to be. XM
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><a href="https://www.linkedin.com/in/xaviermino" target="_blank" class="fa fa-linkedin"></a></button>
                        <button href="#" class="btn btn-simple"><a href="https://www.facebook.com/xminio" target="_blank" class="fa fa-facebook-square"></a></button>
                        <button href="#" class="btn btn-simple"><a href="https://twitter.com/xavier_minio" target="_blank" class="fa fa-twitter"></a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="header">
                        <h4 class="title">About</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Last Company</label>
                                        <input type="text" class="form-control" disabled placeholder="Company" value="Kruger Corporation">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" placeholder="Username" disabled value="Ms. C. - PMP">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email" disabled value="xavier_minio@yahoo.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Edison Xavier" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="Mino Rosales" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Job Titles</label>
                                        <input type="text" class="form-control" placeholder="Home Address" value="Developer · Project Manager · Java Software Engineer · Frontend Developer · Full Stack Engineer" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City" value="Winnipeg" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" placeholder="Country" value="Canada" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control" placeholder="ZIP Code"  value="R2M1T2" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                            <blockquote>
                                                <p class="text-muted">International Educated Software Engineer with over 12 consecutive years	of experience working in a top IT company in local market, developed and coordinated applications in all phases of software development life cycle, with more than 8 years of software development.<br>
                                                </p>
                                            </blockquote>
                                            <blockquote>
                                                <p class="text-muted">Proficient in Objected-oriented programming with java, including frameworks and tools like Spring, Hibernate, JPA, Angular, JSF, REST, Gradle, Git, Jira, Cloud, SQL, Eclipse, IntelliJ and Agile Methodologies SCRUM, Kanban.
                                                </p>
                                            </blockquote>
                                            <blockquote>
                                                <p class="text-muted">Strong interpersonal skills ensure capability to work independently, great team-working, proven ability to consistently work in high levels of quality.
                                                </p>
                                            </blockquote>
                                            <blockquote>
                                                <p class="text-muted">Developed over 12 projects with diverse goals (B2B, B2C, Gamification, HR, Time management, CRM, Communications, Logistic, Supply Chain).
                                                </p>
                                            </blockquote>
                                            <blockquote>
                                                <p class="text-muted">Possess current PMP credential and technical and interpersonal skills courses and certifications.
                                                </p>
                                            </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
